body{
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
*{
  padding: 0px;
  margin: 0px;
  outline: none;
}
section{
  width:100%;
  overflow: hidden;
}
main{
  flex: 1;
}
button.button-action{
  display: block;
  @include font($font,14px,700,$white);
  padding: 10px 25px 10px 33px;
  background-color: $green;
  border-radius: 2px;
  border: none;
  outline: none;
}
.color-green{
  color:$green;
}
.row-reverse{
  flex-direction: row-reverse;
}
h2.section-heading{
  text-transform: uppercase;
  @include font($font,34px,800,$dark);
  padding: 0px 0px 0px 80px;
  position: relative;

  &:first-letter{
    color:$green;
  }
  &:before{
    content:'';
    height:5px;
    width:50px;
    background-color: $green;
    position: absolute;
    left:0px;
    top:23px;
  }
  &_version_light{
    color:$white;
    &:first-letter{
      color:$lightGreen;
    }
    &:before{
      background-color: $lightGreen;
    }
  }
  margin: 0px;
  @include breakpoint(max-width 800px){
    text-align: center;
    font-size: 24px;
    padding: 0px;
    &:before{
      display: none;
    }
  }
}
.line-point{
  width:100%;
  height:2px;
  background-color: $green;
  position: relative;
  z-index: 1;
  &_section_needs{
    margin-bottom: 70px;
  }
  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.7);
    }
    100% {
      transform: scale(1);
    }
  }
  &>div{
    position: relative;
    width:60px;
    height:60px;
    margin: 0px auto 30px;
    top:-30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:before{
      content:'';
      position: absolute;
      z-index: -1;
      width:80px;
      height:80px;
      background-color:$green;
      opacity: 0.5;
      top:-10px;
      left:-10px;
      border-radius: 50%;
      animation-name: scale;
      animation-duration: 1.5s;
      animation-iteration-count:infinite;
      animation-timing-function:linear;
    }
  }
  &__icon_arrows{
    background-image: url(../img/need_round.svg);
  }
  &__icon_question{
    background-image: url(../img/question.svg);
  }
}
.consultation-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &_section_contact{
    padding: 0px 0px 0px 80px;
    align-items: flex-start;
  }
}
.consultation-text{
  margin-bottom: 25px;
  @include font($font,16px,800,$dark);
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  max-width: 830px;
  letter-spacing: 0.55px;
  &_color_white{
    color:$white;
    margin-bottom: 0px;
  }
  &_section_contact{
    color:$white;
    margin: 15px 0px;
    text-align: left;
  }
}
.consultation-heading{
  @include font($font,30px,800,$dark);
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  max-width: 830px;
  letter-spacing: 0.55px;
  &_color_white{
    color:$white;
  }
}
.consultation-a{
  @include font($font,16px,800,$lightGreen);
  line-height: 24px;
  text-decoration: none;
  &:hover,&:visited,&:active{
    color:$lightGreen;
    text-decoration: none;
  }
}
.about{
  display: flex;
  &>div{
    width:50%;
  }
  @include breakpoint(max-width 1000px){
    flex-direction: column;
    &>div{
      width:100%;
    }
  }
}
.map{
  min-height: 650px;
  @include breakpoint(max-width 1200px){
    min-height: 500px;
    @include breakpoint(max-width 900px){
      height: 400px;
      @include breakpoint(max-width 500px){
        height: 300px;
      }
    }
  }
}
.button-slider{
  width:53px;
  height:53px;
  max-width: 53px;
  max-height: 53px;
  padding: 0px;
  &.left-button{
    margin-right: 20px;
  }
  &.right-button{
    margin-left: 20px;
  }
}
.team-list{
  width:100%;
}
.team-item{

  &__logo{
    border-radius: 50%;
    overflow: hidden;
  }
  &__image{
    width:inherit;
  }
}