.needs{
  padding: 50px 0px 30px;
  background-image: url(../img/background-needs.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
.reviews{
  padding: 60px 0px 50px;
  background-image: url(../img/background-review.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
.stages{
  padding: 60px 0px 50px;
  background-image: url(../img/background-stages.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  &:after{
    content:'';
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:0;
    background-color: rgba(0,0,0,0.64);
  }
  &>*{
    z-index: 10;
  }
}
.team{
  padding: 60px 0px 50px;
  background-image: url(../img/background-team.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  &:after{
    content:'';
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:0;
    background-color: rgba(0,0,0,0.64);
  }
  &>*{
    z-index: 10;
  }
}
.needs-list{
  margin:40px 0px 60px;
}
.need-item{
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
  &__logo{
    background-image: url(../img/need_logo.svg);
    width:53px!important;
    height:53px!important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px 30px 0px 0px;
    min-width: 53px;
  }
  &__title{
    padding-top: 15px;
    @include font($font,20px,700,$dark);
    margin:0px 0px 10px;
  }
  &__text{
    @include font($font,18px,400,$dark);
    font-style: italic;
  }
}
.services{
  padding: 60px 0px 20px;
}
.services-list{
  padding: 40px 0px 0px;
}
.services-item{
  display: flex;
  max-width: 325px;
  @include breakpoint(max-width 768px){
    max-width: 100%;
  }
  margin: 0px auto 60px;
  &__logo{
    width:66px;
    height:71px;
    min-width: 66px;
    max-height: 71px;
    height:71px;
    margin: 0px 15px 0px 0px;
    img{
      max-width: inherit;
      max-height: inherit;
      min-width: inherit;
    }
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__heading{
    @include font($font,16px,700,$dark);
    line-height: 18px;
    margin: 0px;
  }
  &__text{
    margin: 0px;
    @include font($font,18px,700,$dark);
    span{
      font-size: 24px;
    }
  }
}
.advantages-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__logo{
    width:94px;
    height:96px;
    max-width: 94px;
    max-height: 96px;
    margin-bottom: 15px;
    img{
      width: inherit;
      height: inherit;
      max-height: inherit;
      max-width: inherit;
    }
  }
  &__heading{
    @include font($font,20px,800,$lightGreen);
    margin: 0px 0px 5px;
  }
  &__text{
    margin: 0px auto 60px;
    @include font($font,18px,400,$white);
    text-align: center;
    max-width: 335px;
    @include breakpoint(max-width 800px){
      max-width: 100%;
    }
  }
}
.advantages-list{
  padding:60px 0px 0px;
}
.advantage{
  padding: 60px 0px 50px;
  background-image: url(../img/background-adventages.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  &:after{
    content:'';
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:0;
    background-color: rgba(0,0,0,0.64);
  }
  &>*{
    z-index: 10;
  }
}
.about{
  z-index: 10;
  position: relative;
}
.contacts{
  padding: 50px 0px 90px;
  background-image: url(../img/background-contacts.png);
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  &:after{
    content:'';
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:1;
    background-color: rgba(0,0,0,0.64);
  }
  &>div{
    position: relative;
    z-index: 100;
  }
}
.contacts-block{
  max-width: 610px;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right:10px;
  width:100%;
  @include breakpoint(max-width 1000px){
    max-width: 100%;
  }
}
.section-text{
  @include font($font,18px,400,$white);
  margin: 0px 0px 50px;
  text-transform: uppercase;
  padding: 0px 0px 0px 80px;
  @include breakpoint(max-width 800px){
    padding: 0px;
    text-align: center;
  }
  &_color_dark{
    color:$dark;
  }
}
.contact-list{

}
.contact-item{
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;

  &__logo{
    margin: 0px 28px 0px 35px;
  }
  &__heading{
    @include font($font,14px,700,$lightGreen);
    margin: 0px;
    text-transform: uppercase;
  }
  &__text{
    @include font($font,16px,400,$white);
    margin: 0px;
  }
  &__a{
    @include font($font,16px,400,$white);
    text-decoration: none;
    &:hover,&:active,&:visited{
      color:$white;
      text-decoration: none;
    }
  }
  &__phone{
    font-weight: 700;
    font-size: 24px;
  }
}
.certificates{
  padding: 50px 0px 60px;
}
.certificates-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  @include breakpoint(max-width 800px){
    justify-content: center;
  }
}
.certificate-item{
  border:8px solid black;
  margin: 0px 10px 10px 0px;
  @include breakpoint(max-width 800px){
    margin: 0px 5px 10px;
  }
  border-radius: 2px;
  box-shadow: 0px 5px 6px 1px rgba(0,0,0,0.2);
}
.stages-list{
  padding-top: 55px;
  display: flex;
  justify-content: space-around;
  @include breakpoint(max-width 1000px){
    flex-direction: column;
  }
}
.stage-item{
  width:17%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include breakpoint(max-width 1000px){
    flex-direction: row;
    align-items: center;
    width:100%;
    margin-bottom: 25px;
    justify-content: center;
  }
  &__logo{
    width:64px;
    min-width: 64px;
    height:56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    @include breakpoint(max-width 1000px){
      margin: 0px;

    }
    img{
      display: block;
      max-width: 64px;
      max-height: 56px;
    }
  }
  &__line{
    width:100%;
    height:2px;
    background-color: $lightGreen;
    position: relative;
    margin-bottom: 70px;
    @include breakpoint(max-width 1000px){
      width:0px!important;
      margin: auto 60px;
      order: -1;
      @include breakpoint(max-width 550px){
        position: absolute;
        overflow: hidden;
        width:1px;
        height:1px;
        clip: rect(0 0 0 0);
      }
    }
    &:before{
      content:'';
      position: absolute;
      top:0px;
      left:-1000px;
      width:1000px;
      height:2px;
      background-color: $lightGreen;
      @include breakpoint(max-width 1000px){
        width:2px;
        height:500px;
        left:13px;
        height:-500px;
      }
    }
    &:after{
      content:'';
      position: absolute;
      top:0px;
      right:-1000px;
      width:1000px;
      height:2px;
      background-color: $lightGreen;
      @include breakpoint(max-width 1000px){
        width:0px;
        height:0px;
      }
    }
  }
  &__point{
    position: relative;
    width:28px;
    height:28px;
    margin: 0px auto;
    background-color: $lightGreen;
    border-radius: 50%;
    animation-name: scale;
    animation-duration: 1.5s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    top:-14px;
    &:before{
      width:50px;
      height:50px;
      content: '';
      background-color: $lightGreen;
      opacity: 0.55;
      position: absolute;
      top:-11px;
      left:-11px;
      border-radius: 50%;
      animation-name: scale;
      animation-duration: 1.5s;
      animation-iteration-count:infinite;
      animation-timing-function:linear;
    }
    &:after{
      width:76px;
      height:76px;
      content: '';
      background-color: $lightGreen;
      opacity: 0.28;
      position: absolute;
      top:-24px;
      left:-24px;
      border-radius: 50%;
      animation-name: scale;
      animation-duration: 1.5s;
      animation-iteration-count:infinite;
      animation-timing-function:linear;
    }
  }
  &__text{
    text-align: center;
    @include font($font,18px,400,$white);
    @include breakpoint(max-width 1000px){
      text-align: left;
      width:100%;
      box-sizing: border-box;
      padding:0px 10px 0px 25px;
    }
  }
}
.review-list{
  padding-top: 70px;
  &>div{

    margin: 0px 0px 30px;
  }
}
.review-item{
  height: 100%;
  background-color: white;
  position: relative;
  &__logo{
    top:-35px;
    width:49px;
    height:47px;
    background-image: url(../img/review.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px auto -17px;
    position: relative;
  }
  &__content{
    padding: 23px;
    position: relative;
    &:after{
      content:'';
      position: absolute;
      top: 1px;
      width: 100%;
      height: 2px;
      left: 0;
      background-image: url(../img/outline.svg);
      background-repeat: repeat;
      background-position: 0;
      background-size: contain;
    }
  }
  &__text{
    @include font($font,14px,400,#8e8e8e);
    font-style: italic;
    line-height: 24px;
    margin: 0px 0px 10px;
  }
  &__heading{
    @include font($font,16px,700,$dark);
    line-height: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  &__link{
    display: block;
    @include font($font,14px,700,$lightGreen);
    line-height: 24px;
    text-decoration: none;
    &:hover,&:visited,&:active{
      text-decoration: none;
      color:$lightGreen;
    }
  }
}